<div class="container">
  <div class="row">
    <div class="col">
      <h1>
           QUITO
      </h1>
      
    </div>
    <div class="col">
       <h2>Temp, {{ q }}</h2> 
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h1>
           GUAYAQUIL
      </h1>
      
    </div>
    <div class="col">
       <h2>Temp, {{ g }}</h2>
    </div>
  </div>
  
</div>